body .body-home {
  overflow: hidden !important;
  height: 100%;
  width: 100%;
  position: absolute;
}

.carousel {
  height: 100vh;
}

.img-box {
  position: absolute;
  bottom: -960px;
  left: 50%;
  transform: translateX(-50%);
  width: 1600px;
  height: 1600px;
}

.img-box .img-list {
  height: inherit;
  transform: rotate(90deg);
}

.img-list .img-slider {
  height: inherit;
  display:flex;
  align-items: center;
  transition: .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.img-slider .img-item {
  position: absolute;
  left: 0;
  transform: rotate(calc(360deg / 4 * var(--i)));
  transform-origin: 800px;
}

.img-slider {
  transition: transform 0.5s ease;
}

.img-item img {
  transform: rotate(-90deg);
}

.img-item.fruit img {
  transform: rotate(-90deg) translateY(-30%);
  scale: 0;
  transition: .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: float-fruits 4s ease-in-out infinite;
}

.img-item.fruit.active img {
  scale: 1;
  transition-delay: .1s;
}

@keyframes float-fruits {
  0% {
    translate: 0;
  }

  50% {
    translate: -20px;
  }

  100% {
    translate: 0;
  }
}

.info-box {
  position: absolute;
  right: 8%;
  bottom: 5%;
  width: 350px;
  height: 150px;
  // border: 2px solid #0B3234;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.info-box .info-slider {
  // border: 2px solid #0B3234;
  transition: .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.info-slider .info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #0B3234;
  height: 150px;
}

.font-item h4 {
  font-size: 24px;
  margin-bottom: 6px;
}

.navigation {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.navigation span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: #f6f3eb63;
  border-radius: 50%;
  cursor: pointer;
  font-size: 54px;
  color: white;
}

.large-text {
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
  height: 700px;
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.large-text h1 {
  font-size: 140px;
  writing-mode: vertical-rl;
  letter-spacing: -8px;
  user-select: none;
  opacity: 30%;
}

.bg-box .bg-carousel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.bg-box .bg-carousel.active {
  opacity: 1;
}

.bg-box .bg-carousel::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  background: white;
  border-radius: 50%;
  filter: blur(200px);
}

.bg-box .bg-carousel:nth-child(1) {
  background: #A4BDF8;
}

.bg-box .bg-carousel:nth-child(2) {
  background: #A1E5D5;
}

.bg-box .bg-carousel:nth-child(3) {
  background: #F4CE8C;
}

.bg-box .bg-carousel:nth-child(4) {
  background: #F79B89;
}








.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/transparent-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.title, .description, .button-group {
  position: relative;
  z-index: 1;
}

.title {
  font-size: 70px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
}

.description {
  font-size: 23px;
  color: #666666;
  margin-bottom: 40px;
}

.button-group {
  display: flex;
  gap: 20px;
}

.btn-primary {
  background-color: #007BFF;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.btn-outline-primary {
  border: 2px solid #007BFF;
  color: #007BFF;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
.btn-primary:hover, .btn-outline-primary:hover {
  opacity: 0.8;
}
