// Import page-specific CSS files here.
@import "home";
@import "login";
@import "newgroups";
@import "indexgroups";
@import "showgroups";


.image-navbar {
    width: auto; /* Ajusta automaticamente a largura, mantendo as proporções */
    height: 100px; /* Altura fixa para a imagem */
    max-width: 100%; /* Garante que a largura máxima não exceda o contêiner */
    object-fit: contain; /* Mantém as proporções da imagem */
}