.btn-login {
    background-color: #626262 !important;
    color: white !important;
    border: 1px solid #1A1C15 !important;
    border-radius: 5px !important;
    padding: 10px 20px !important;
    font-size: 15px !important;
    cursor: pointer !important;
    text-align: center !important;
    text-decoration: none !important;
    width: 180px;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
  }

  .custom-input {
    background-color: #d9d9d9; /* Cor de fundo */
    border: 2px solid #dedede; /* Cor e espessura da borda */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
  }

  .login-container {
    width: 400px;
    padding: 40px;
    background-color: #ffffff;
    // position: center;
    // top: 20%;
    // transform: translateY(50%);
  }

  .flex-container {
    // background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Altura completa da tela */
  }