.btn-login-newhtml {
    width: 100%;
    padding: 8px;
    height: 40px;
    font-size: 16px;
    border-radius: 30px;
    background-color: #5487FC;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .btn-login-newhtml:hover {
    background-color: rgba(0, 123, 255, 0.8);
    color: white;
  }

  @media (max-width: 768px) {
    .btn-login-newhtml {
      // Estilo para telas menores (celular)
      width: 100%; /* Ocupar 100% da largura da tela */
    }
  }

  .custom-input {
    width: 100%;
    height: 50px;
    background-color: #DDE7FF;
    color: #0B3234;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
  }

  .custom-input:focus {
    background-color: #DDE7FF;
    border-color: transparent;
    box-shadow: none;
    font-size: 14px;
    font-weight: 500;
}

.bg-ballandcactus {
  top: 0;
  position: absolute;
  z-index: -5;
}

.modal-groups-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transform: scale(0.9);
}

.form-inputs {
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 540px) {
  .modal-groups-wrapper {
    width: 100%;
    overflow-x: hidden;
  }
  .bg-ballandcactus {
    width: 156%;
  }
}

// bg-login {
//   background-color: #f6f3eb;
//   background-image: asset-url('bg/BallAndCactus.png') !important;
//   // background-size: cover;
//   background-position: center top 160px;
//   background-attachment: fixed;
//   background-repeat: no-repeat;
//   margin: 0;
// }

//   .login-container {
//     width: 400px;
//     padding: 40px;
//     background-color: #ffffff;
//     // position: center;
//     // top: 20%;
//     // transform: translateY(50%);
//   }

//   .flex-container {
//     // background-color: #ffffff;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 80vh; /* Altura completa da tela */
//   }
