<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-4">

      <div class="text-center mt-4">
        <h1>Vamos juntos criar seu primeiro grupo</h1>
      </div>

      <div class="text-center mt-4">
        <p>Caso você já passua ou esteja em algum grupo, basta acessar o aplicativo clicando no botão “acessar meus grupos”.</p>
      </div>

      <div class="justify-content-center mt-4">
        <button type="button" class="btn btn-addmember">Adicionar membro</button>
        <button type="button" class="btn btn-addmember">Compartilhar link do grupo</button>
      </div>

    </div>
  </div>
</div>
