<div id="balance-details-modal" class="modal hidden" data-modal-target="modal">
  <div class="modal-content">
    <span class="close-button" data-action="click->modal#close">&times;</span>
    <div class="container">
        <h4 class="title-details">SUAS DÍVIDAS</h4>
        <% has_debt = false %>
        <% @user_balance[:users_owing].each do |hash| %>
          <% hash.each do |user, balance| %>
            <% if balance > 0 %>
              <div class="group-show-expense-payer-item background-debt">
                <div class="group-show-number-expense-payer color-debt">
                  <label>R$</label>
                </div>
                <div class="group-show-name-expense-payer">
                  <p>Você deve BRL <%= number_to_currency(balance) %> para <%= user.name %></p>
                </div>
              </div>
              <% has_debt = true %>
            <% end %>
          <% end %>
        <% end %>

        <% unless has_debt %>
          <p>Não há nenhuma dívida para você.</p>
        <% end %>

        <h4 class="title-details">DEVEM A VOCÊ</h4>
        <% has_credit = false %>
        <% @user_balance[:users_owed].each do |hash| %>
          <% hash.each do |user, balance| %>
            <% if balance > 0 %>
              <div class="group-show-expense-payer-item background-not_involved">
                <div class="group-show-number-expense-payer color-not_involved">
                  <label>R$</label>
                </div>
                <div class="group-show-name-expense-payer">
                  <p><%= user.name %> deve BRL <%= number_to_currency(balance) %> para você</p>
                </div>
              </div>
              <% has_credit = true %>
            <% end %>
          <% end %>
        <% end %>

        <% unless has_credit %>
          <p>Não há ninguém devendo para você.</p>
        <% end %>
        </div>
    </div>
  </div>
</div>
