.group-edit-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 20px;

}

.group-edit-image {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.group-edit-input {
    width: 100%;
    height: 50px;
    color: #0B3234;
    background-color: #DDE7FF;
    padding: 8px;
    border-radius: 5px;
    outline: none;
  
}

.group-edit-input:valid {
    border-color: #DDE7FF !important;
    background-image: none !important;
}

.group-edit-input:focus {
    background-color: #DDE7FF;
    box-shadow: none !important;
}





.btn-group-edit-save {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.btn-group-edit-save:hover {
    background-color: rgba(0, 123, 255, 0.8);
    color: white;
}

.added-member {
    background-color: #FBDDD6;
    padding-left: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


.added-member button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #F1502C;
    color: white;
    font-size: 14px;
    min-width: 32px;
  }
