body {
    background-color: #f6f3eb;
    // background-image: asset-url('bg/BallAndCactus.png');
    // background-size: cover;
    background-position: center top 160px;
    background-attachment: fixed;
    background-repeat: repeat;
    margin: 0;
}

a {
  text-decoration: none !important;
}

.group-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.group-item {
    display: flex;
    align-items: center;
    background: #dde7ff;
    border-radius: 5px;
    color: #0B3234;
}

.group-item a {
  text-decoration: none;
  color: inherit;
}

.group-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #000000;
    object-fit: cover; /* Garante que a imagem se ajuste ao contêiner sem distorção */
    margin-right: 20px;
}

.group-details {
    flex-grow: 1; /* Permite que o nome do grupo use o espaço restante */
    font-size: 14px;
}

.group-details h3 {
    margin: 0;
    font-size: 1.2em;
    color:#0B3234;
}

.without-group h2 {
    color:#0B3234;
}

.create-group-button {
  width: 100%;
  padding: 10px;
  background-color: #5487FC;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.create-group-button:hover {
  background-color: rgba(0, 123, 255, 0.8);
  color: white;
}

.title-group h3 {
    margin-top: 40px;
    font-size: 24px;
}

.modal-groups {
    background-color: #ffffff; /* Fundo branco para a caixa */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px;
    width: 100%;
    position: relative;
}

// .image-logo-container {
//     padding: 20px;
//     display: flex;
//     justify-content: center;
// }
