body {
    background-color: #f6f3eb;
    // background-image: asset-url('bg/BallAndCactus.png');
    // background-size: cover;
    background-position: center top 160px;
    background-attachment: fixed;
    background-repeat: repeat;
    margin: 0;
}

a {
  text-decoration: none !important;
}

.group-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.group-item {
    display: flex;
    align-items: center;
    background: #dde7ff;
    border-radius: 5px;
    color: #0B3234;
}

.group-item a {
  text-decoration: none;
  color: inherit;
}

.group-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    border: black solid 1px;
    object-fit: cover;
    margin-right: 16px;
    align-items: center;
}

.group-details {
    flex-grow: 1;
    margin: 0;
    font-size: 1.2em;
    color:#0B3234;
}

.group-details-text {
  font-size: 14px;
  font-weight: 500;
  color: #0B3234;
}

.without-group h2 {
    color:#0B3234;
}

.create-group-button {
  margin-top: 16px;
  padding: 10px;
  height: 50px;
  font-size: 16px;
  width: 100%;
  background-color: #5487FC;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.create-group-button:hover {
  background-color: rgba(0, 123, 255, 0.8);
  color: white;
}

.title-group {
    margin-top: 30px;
    font-size: 24px;
}

.modal-groups {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    position: relative;
}

.modal-index-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}


.bg-cactus {
  top: 0;
  position: absolute;
  z-index: -5;
}

@media (max-width: 540px) {
  .modal-index-wrapper {
    width: 100%;
    overflow-x: hidden;
  }
  .bg-cactus {
    width: 156%;
  }
}

.logo-footer-ng {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.9);
}
