.group-photo-placeholder {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
  }

  .group-pattern-lightblue {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    height: 50px !important;
    flex-direction: row;
    justify-content: space-between !important;
    background-color: #DDE7FF;
    color: #104749;
    border-radius: 5px;

  }

  .group-pattern-darkblue {
    padding: 5px 10px;
    height: 50px !important;
    border-radius: 5px;
    background-color: #5487FC;
    color: white;
    font-size: 24px;
    line-height: 38px;
    min-width: 50px;
  }

  .input-new-group {
    width: 100% !important;
    height: 50px !important;
    background-color: #DDE7FF;
    color: #0B3234;
    border-radius: 5px;
    border: var(--bs-border-width) solid #DDE7FF;
    &:focus {
      background-color: #DDE7FF;
      border-color: transparent;
      box-shadow: none;
      font-family: "Ubuntu", "sans-serif";
    }
  }

  .no-border {
    border: none;
    outline: none;
    box-shadow: none;
  }

  .check-icon {
    color: green;
    margin-left: 5px;
  }
