.group-show-modal-invisivel {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.group-show-modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 16px;
}

.group-show-modal {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  border-radius: 5px;
  padding: 16px;
}

.group-show-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
}

.group-show-members-list {
  display: flex;
  flex-direction: space-between;
  justify-content: center;
  align-items: center;
}

.group-show-member-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
}

.group-show-actions {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  border: #007bff, solid, 1px;
  margin-top: 30px;
  gap: 22px;
}

.btn-group-show-menu {
  width: auto;
  height: 21px;
  padding: 13px;
  background-color: #007bff;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 16px;
  line-height: 0px;
  display: inline-block;
}

.btn-group-show-menu:hover {
  background-color: rgba(0, 123, 255, 0.8);
  color: white;
}

.btn-group-show-details {
  width: auto;
  height: 22px;
  padding: 9px;
  background-color: #007bff;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 12px;
  line-height: 2px;
  display: inline-block;
}

.btn-group-show-details:hover {
  background-color: rgba(0, 123, 255, 0.8);
  color: white;
}

.btns-group-show-expenses {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  margin-top: 16px;
}

.btn-group-show-add-expense {
  width: 173px;
  padding: 8px;
  background-color: #F1502C;
  color: white;
  border-radius: 20px;
  transition: background-color 0.3s;
  font-size: 14px;
}

.btn-group-show-add-expense:hover {
  color: white;
  background-color: rgba(241, 80, 44, 0.8)
}

.btn-group-show-add-payment {
  width: 173px;
  padding: 8px;
  background-color: #4FD7B7;
  color: black;
  border-radius: 20px;
  transition: background-color 0.3s;
  font-size: 14px;
}

.btn-group-show-add-payment:hover {
  background-color: rgba(79, 215, 183, 0.8);
}

.group-show-panel {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 16px;
  border-radius: 5px;
}

.text-group-show {
  font-size: 12px;
  margin: 0px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 80%;
  max-width: 600px;
}

.vertical-line {
  width: 1px;
  background-color: black;
}

.hidden {
  display: none;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.group-show-expenses {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  width: 100%;
  padding: 16px;
  border-radius: 5px;
}

.group-show-expense-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #FBDDD6;
  border-radius: 5px;
  margin-bottom: 16px;
}

.group-pattern-lightgreen {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #C9E9E1;
  color: #104749;
  border-radius: 5px;
  margin-bottom: 16px;
}

.group-pattern-darkgreen {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #4FD7B7;
  color: white;
  font-size: 24px;
}

.group-pattern-lightblue {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #DDE7FF;
  color: #104749;
  border-radius: 5px;
  margin-bottom: 16px;
}

.group-pattern-darkblue {
  padding: 5px 10px;
  height: 50px !important;
  border-radius: 5px;
  background-color: #5487FC;
  color: white;
  font-size: 24px;
  line-height: 38px;
  min-width: 50px;
}

.group-show-number-expense {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #ff2f00;
  color: white;
  font-size: 24px;
}

.group-show-name-expense {
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.expense-link {
  width: 100%;
}

.group-show-observations {
  margin-top: 20px;
  width: 100%;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  margin-top: 16px;
}

.group-show-observation-area {
  width: 100%;
  font-size: 1em;
  background-color: #F6F3EB;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-group-show-observation {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 20px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn-group-show-observation:hover {
  background-color: rgba(0, 123, 255, 0.8);
  color: white;
}

@media (max-width: 600px) {
  .group-show-actions {
    gap: 10px;
  }

  .btns-group-show-expenses {
    width: 100%;
    gap: 7px;
  }
}

@media (max-width: 423px) {
  .btn-group-show-menu {
    font-size: 12px;
  }
}
