.bg-show-modal {
  position: absolute;
  top: 0;
  right: 0;
}

.bg-ballandcactus-group {
  top: 0;
  left: -160px;
  position: absolute;
  z-index: -5;
}

.group-show-modal-invisivel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.division-panel {

  opacity: unset !important;
  margin: -6px -14px !important;
  margin-bottom: 16px;
}

.group-show-modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 16px;
  position: relative;
}

.group-show-modal {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  border-radius: 5px;
  padding: 16px;
}

.group-show-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: black;
  margin-top: 16px;
}

.group-show-members-list {
  justify-content: center;
  align-items: center;
}

.group-show-member-photo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: black;
}

.group-show-actions {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  border: #5487FC, solid, 1px;
  margin-top: 16px;
  gap: 8px;
}

.btn-group-show-menu {
  width: auto;
  height: 24px;
  padding: 12px;
  background-color: #5487FC;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 16px;
  line-height: 0px;
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 8px;
}

.btn-group-show-menu:hover {
  background-color: rgba(0, 123, 255, 0.8);
  color: white;
}

.btn-group-show-details {
  width: auto;
  height: 24px;
  padding: 12px;
  background-color: #5487FC;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 16px;
  line-height: 0px;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 8px;
}

.btn-group-show-details:hover {
  background-color: rgba(0, 123, 255, 0.8);
  color: white;
}

.btn-group-show-expenses {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  margin-top: 16px;
}

.btn-group-show-add-expense {
  width: 50%;
  background-color: #F1502C;
  color: white;
  border-radius: 20px;
  transition: background-color 0.3s;
  font-size: 16px;
}

.btn-group-show-add-expense:hover {
  color: white;
  background-color: rgba(241, 80, 44, 0.8)
}

.btn-group-show-add-payment {
  width: 50%;
  background-color: #4FD7B7;
  color: black;
  border-radius: 20px;
  transition: background-color 0.3s;
  font-size: 16px;
}

.btn-group-show-add-payment:hover {
  background-color: rgba(79, 215, 183, 0.8);
}

.group-show-panel {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 16px;
  border-radius: 5px;
}

.text-group-show {
  font-size: 12px;
  margin: 0px;
  margin-top: 16px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 80%;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
}

.vertical-line {
  width: 1px;
  background-color: black;
}

.hidden {
  display: none;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.group-show-expenses {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  width: 100%;
  padding: 16px;
  padding-bottom: 0px;
  border-radius: 5px;
}

.group-show-expense-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #FBDDD6;
  border-radius: 5px;
  margin-bottom: 16px;
}

.group-show-expenses-payer {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  width: 100%;
  padding: 16px;
  padding-bottom: 0px;
  border-radius: 5px;
}

.group-show-expense-payer-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #FBDDD6;
  border-radius: 5px;
  margin-bottom: 16px;
}

.group-pattern-lightgreen {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #C9E9E1;
  color: #104749;
  border-radius: 5px;
  margin-bottom: 16px;
}

.group-pattern-darkgreen {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #4FD7B7;
  color: white;
  font-size: 24px;
}

.group-pattern-lightblue {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #DDE7FF;
  color: #104749;
  border-radius: 5px;
  margin-bottom: 16px;
}

.group-pattern-darkblue {
  padding: 5px 10px;
  height: 50px !important;
  border-radius: 5px;
  background-color: #5487FC;
  color: white;
  font-size: 24px;
  line-height: 38px;
  min-width: 50px;
}

.group-show-number-expense {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #F1502C;
  color: white;
  font-size: 24px;
}

.group-show-number-expense-payer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #F1502C;
  color: white;
  font-size: 24px;
}

.group-show-name-expense {
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.group-show-name-expense-payer {
  padding: 6px;
  padding-bottom: 0;
  padding-top: 10px;
  padding-top: 10px;
  border-radius: 5px;
  color: black;
}

.expense-link {
  width: 100%;
}

.group-show-observations {
  width: 100%;
  background-color: white;
  padding: 16px;
  border-radius: 5px;
  margin-top: 16px;
}

.group-show-observation-area {
  width: 100%;
  font-size: 1em;
  background-color: #F6F3EB;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 16px;
  margin-top: 16px;
  outline: none;
}

.group-show-observation-area:focus {
  background-color: #F6F3EB;
  box-shadow: none !important;
}

.group-show-observation-area:valid {
  border-color: #F6F3EB !important;
  background-image: none !important;
  font-size: 14px;
}

.btn-group-show-observation {
  font-size: 16px;
  width: 50%;
  padding: 8px;
  background-color: #5487FC;
  color: white;
  border-radius: 30px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn-group-show-observation:hover {
  background-color: rgba(0, 123, 255, 0.8);
  color: white;
}

.h4-index-groups {
  margin-top: 16px;
}

.h4-groups {
  font-weight: 500;
}

@media (max-width: 600px) {
  .group-show-actions {
    gap: 8px;
  }

  .btns-group-show-expenses {
    width: 100%;
    gap: 7px;
  }
}

@media (max-width: 423px) {
  .btn-group-show-menu {
    font-size: 12px;
  }
}

.bg-ballandcactus {
  top: 0;
  position: absolute;
  z-index: -5;
}

@media (max-width: 540px) {
  .modal-groups-wrapper {
    width: 100%;
    overflow-x: hidden;
  }
  .bg-ballandcactus {
    width: 156%;
  }
}
