.navbar-lewagon {
  justify-content: space-between;
  background: #0F4749;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  height: 60px;
}

.nav-item {
  list-style: none;
}

.nav-link {
  background-color: white;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
  width: 100%;
  font-size: 16px;
  padding: 0.7rem;
  font-weight: normal;
}

.offcanvas-header {
  padding: 0.7rem;
  margin-top: 1px;
}

.offcanvas.showing, .offcanvas.hiding, .offcanvas.show {
  width: 100% !important;
}

.navbar-toggler-icon {
  background-image: url('toggle/diamonds.png') !important;
}

.notice {
  background-color: #28a745;
  border-radius: 5px;
  padding: 12px; /* Aumente o padding para melhor visibilidade */
  margin-bottom: 16px;
  color: white;
  width: 100%; /* Garante que a .notice ocupe toda a largura do contêiner pai */
}


@media (max-width: 600px) {
  .navbar-lewagon {
    margin-bottom: 20px;
  }
}

@media (min-width: 601px) {
  .navbar-lewagon {
    margin-bottom: 60px;
  }
}
