.group-form-modal {
  flex-direction: column;
  align-items: start;
  background-color: white;
  border-radius: 5px;
  padding: 16px;
}

.create-button-new {
  width: 50%;
  height: 50px;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  background-color: #5487FC;
  border-radius: 30px;
  transition: background-color 0.3s;
}

.create-button-new:hover {
  background-color: #2b66f0;
  color: white;
}

h1, h2, h3, h4 {
  color: #0B3234;
}

p {
  color: #0B3234;
  font-size: 16px;
}

.input-new-expense {
  width: 100%;
  height: 46px;
  background-color: #DDE7FF;
  color: #0B3234;
  border-radius: 5px;
  &:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    font-family: "Ubuntu", "sans-serif";
  }
}

.expense_amount {
  margin-bottom: 0 !important;
}
