.group-expense-show-modal {
    display: flex;
    flex-direction: column;
    background-color: #C9E9E1;
    border-radius: 5px;
    padding: 16px;
}

.expense-items-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}


.expense-item {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
    color: #0B3234;
    width: 100%;
    margin-bottom: 8px;
    margin-top: 8px;

}

.expense-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 16px;
    align-items: center;
}

.division-expenses {
    margin: 32px;
}

.p-note {
  margin-top: 16px;
}
